<div class="container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Total Active Users Count (< 15min ): <span class="badge bg-primary"><%= @active_users_count %></span></li>
            <li class="list-group-item">Total Service Requests: <span class="badge bg-primary"><%= @service_request_count %></span></li>
            <li class="list-group-item">Total Bid Count: <span class="badge bg-primary"><%= @bid_count %></span></li>
            <li class="list-group-item">Total Bid Count per Service Request: <span class="badge bg-primary"><%= @service_request_bids %></span></li>
            <li class="list-group-item">Total Property Owner Accounts: <span class="badge bg-primary"><%= @homeowner_count %></span></li>
            <li class="list-group-item">Total Contractor Accounts: <span class="badge bg-primary"><%= @contractor_count %></span></li>
            <li class="list-group-item">Total Non-Licensed Contractors: <span class="badge bg-primary"><%= @licensed_contractor_count_without_license %></span></li>
            <li class="list-group-item">Total Licensed Contractors: <span class="badge bg-primary"><%= @licensed_contractor_count %></span></li>
            <!-- Add more analytics metrics as needed -->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Add additional dashboard elements here -->
    </div>
  </div>
</div>
