<%= form_with(model: @service_request, url: service_requests_path, method: :post, multipart: true, html: { class: "form-horizontal" }) do |form| %>
  <%#= debug @service_request %>
  <% if @service_request.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@service_request.errors.count, "error") %> prohibited this service request from being saved:</h2>
      <ul>
        <% @service_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- First row -->
  <div class="row">
    <!-- First column in the first row -->
    <div class="col-sm-5">
      <div class="form-group">
        <label class="control-label">Existing Images</label>
        <% @existing_images&.each do |image| %>
          <div class="existing-image">
            <%= image_tag image.url, class: "existing-image-preview" %>
            <%= check_box_tag "remove_images[]", image.id, false, class: "remove-image-checkbox" %>
            <%= label_tag "remove_images_#{image.id}", "Remove", class: "remove-image-label" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Second column in the first row -->
    <div class="col-sm-6">
      <!-- Retain existing images -->
      <!-- Hidden fields for existing images -->
      <% @existing_images&.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
      <% end %>

      <div class="form-group">
        <label class="control-label">Upload Images</label>
        <%= form.file_field :images, multiple: true, class: "form-control" %>
      </div>

      <!-- Display Status -->
      <div class="form-group">
        <%= form.label :display_status, class: "form-label" %>
        <%= form.text_field :display_status, value: @service_request.human_readable_status, class: "form-control", readonly: true %>
      </div>

      <!-- Hidden Field for Status -->
      <%= form.hidden_field :status %>

      <!-- Title -->
      <div class="form-group">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <!-- Description -->
      <div class="form-group">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <!-- Location -->
      <div class="form-group">
        <%= form.label :location, class: "form-label" %>
        <%= form.text_field :location, class: "form-control" %>
      </div>

      <!-- Budget -->
      <div class="form-group">
        <%= form.label :budget, class: "form-label" %>
        <%= form.number_field :budget, class: "form-control" %>
      </div>

      <!-- Timeline -->
      <div class="form-group">
        <%= form.label :timeline, class: "form-label" %>
        <%= form.text_field :timeline, class: "form-control" %>
      </div>

      <!-- Budget -->
      <div class="form-group">
        <%= form.label :due_date, class: "form-label" %>
        <%= form.date_field :due_date, class: "form-control" %>
      </div>

      <!-- Range -->
      <div class="form-group">
        <%= form.label :range, class: "form-label" %>
        <%= form.text_field :range, class: "form-control" %>
      </div>

      <!-- Service selection -->
      <div class="form-group">
        <!-- Service selection -->
        <%= form.label :services, "Services Needed" %>
        <% Service.all.each do |service| %>
          <div class="form-check">
            <%= form.check_box :service_ids, { multiple: true }, service.id, nil %>
            <%= form.label "service_ids_#{service.id}", service.name, class: "form-check-label" %>
          </div>
        <% end %>


      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="row">
    <div class="col-sm-6 offset-sm-5 text-end">
      <%= form.submit "Submit", class: "btn btn-primary btn-lg" %>
    </div>
  </div>

<% end %>
