<div id="<%= dom_id service_request %>" class="card mb-3">
  <!-- Service Request Details -->
  <div class="card-body">
    <h5 class="card-title">Service Request Details</h5>
    <div class="container">
      <% attributes = [
        { label: "Title:", value: service_request.title },
        { label: "Description:", value: service_request.description },
        { label: "Location:", value: service_request.location },
        { label: "Budget:", value: number_to_currency(service_request.budget) },
        { label: "Timeline:", value: service_request.timeline },
        { label: "Due Date:", value: service_request.due_date },
        { label: "Service:", value: service_request.services.pluck(:name).join(', ') },
        { label: "Range:", value: service_request.range },
        { label: "Status:", value: service_request.status.humanize },
      ] %>

      <div class="row">
        <div class="col-md-4">
          <div class="image-gallery">
            <% service_request.images.each do |image| %>
              <div class="image-item">
                <%= image_tag url_for(image), class: "gallery-image" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <% attributes.each_slice(2) do |slice| %>
            <div class="row">
              <% slice.each do |attr| %>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col">
                      <strong><%= attr[:label] %></strong>
                    </div>
                    <div class="col">
                      <%= attr[:value] %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Actions for current user -->
      <div class="row mt-3">
        <div class="col">
          <div class="d-flex justify-content-end">
            <% if current_user.service_provider? %>
              <% if service_request.open? && !current_user.submitted_bid_for?(service_request) %>
                <%= link_to 'Bid', new_service_request_bid_path(service_request), class: 'btn btn-primary btn-sm' %>
              <% else %>
                <% if current_user.submitted_bid_for?(service_request) %>
                  <% if service_request.contractor_bid_accepted?(current_user) %>
                    <%= link_to 'Bid Accepted', '#', class: 'btn btn-primary btn-sm disabled', disabled: true %>
                  <% elsif service_request.has_confirmed_bids_for_user?(current_user) %>
                    <%= link_to 'Bid Confirmed', '#', class: 'btn btn-primary btn-sm disabled', disabled: true %>
                  <% else %>
                    <%= link_to 'Bid Submitted', '#', class: 'btn btn-primary btn-sm disabled', disabled: true %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <% if current_user.property_owner? %>
              <%= link_to 'Show', service_request_path(service_request), class: "btn btn-secondary mr-1" %>
              <% if !service_request.bids.any? %>
                <%= link_to "Edit", edit_service_request_path(service_request), class: "btn btn-secondary mr-1" %>
                <%= button_to "Destroy", service_request_path(service_request), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", data: { action: "click->service_requests#destroy" } %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if current_user.property_owner? %>
      <!-- Accepted Bids -->
      <div class="card-body">
        <% if service_request.bids.any? %>
          <% service_request.bids.each do |bid| %>
            <% if bid.accepted? || bid.confirmed? %>
              <h5 class="card-title">Accepted Bids</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <strong>Contractor Email:</strong> <%= bid.contractor.email %><br>
                    <strong>Proposed Price:</strong> <%= bid.proposed_price %><br>
                    <strong>Estimated timeline (days):</strong> <%= bid.estimated_timeline_in_days %><br>
                  </div>
                  <% if bid.accepted? %>
                    <span class="badge bg-success">Accepted</span>
                  <% elsif bid.confirmed? %>
                    <span class="badge bg-success">Confirmed</span>
                  <% end %>
                </li>
              </ul>
              <!-- Confirm acceptance button -->
              <div class="d-flex justify-content-end">
                <% if current_user == bid.contractor && bid.accepted? && bid.service_request.open? && bid.status != 'confirmed' %>
                  <%= button_to 'Confirm Acceptance', confirm_acceptance_service_request_bid_path(bid.service_request, bid), method: :post, class: 'btn btn-success btn-sm' %>
                <% end %>
              </div>
            <% elsif bid.pending? %>
              <h5 class="card-title">Pending Bids</h5>
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <strong>Contractor Email:</strong> <%= bid.contractor.email %><br>
                    <strong>Proposed Price:</strong> <%= bid.proposed_price %><br>
                    <strong>Estimated timeline (days):</strong> <%= bid.estimated_timeline_in_days %><br>
                  </div>
                </li>
              </ul>
            <% end %>
          <% end %>
        <% else %>
          <p>No bids have been submitted for this service request.</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>