<div class="container">
  <h1 class="mt-5 mb-4">Service Request Details</h1>
  <p><strong>Title:</strong> <%= @service_request.title %></p>
  <p><strong>Description:</strong> <%= @service_request.description %></p>
  <p><strong>Location:</strong> <%= @service_request.location %></p>
  <p><strong>Due Date:</strong> <%= @service_request.due_date %></p>
  <p><strong>Budget:</strong> <%= number_to_currency(@service_request.budget) %></p>

  <h2 class="mt-5 mb-3">Bids</h2>
  <% if @bids.any? %>
    <ul class="list-group">
      <% @bids.each do |bid| %>
        <% if bid.pending? ||  bid.confirmed? %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong>Contractor Name:</strong> <%= bid.contractor.name %> (<%= bid.contractor.email %>)<br>
              <strong>Proposed Price:</strong> <%= bid.proposed_price %><br>
              <strong>Estimated timeline (days):</strong> <%= bid.estimated_timeline_in_days %><br>
            </div>
            <% if @service_request.open? && bid.pending? && current_user.property_owner?%>
              <div class="btn-group" role="group">
                <%= button_to "Accept", accept_service_request_bid_path(@service_request, bid), method: :post, class: "btn btn-success btn-sm mr-2" %>
                <%= button_to "Reject", reject_service_request_bid_path(@service_request, bid), method: :post, class: "btn btn-danger btn-sm" %>
              </div>
            <% elsif bid.accepted? %>
              <span class="badge bg-success">Accepted</span>
            <% elsif bid.rejected? %>
              <span class="badge bg-danger">Rejected</span>
            <% end %>
            <% if bid.confirmed? %>
              <span class="badge bg-info">Confirmed</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>No bids yet.</p>
  <% end %>

  <div class="mt-3">
    <%= link_to "Back to Service Requests", service_requests_path, class: "btn btn-secondary" %>
  </div>
</div>