<div class="address-fields">

<div class="form-group">
  <%= f.label :city, class: "control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.input :city, label: false, placeholder: "Enter city", input_html: { class: "form-control" } %>
  </div>
</div>

<div class="form-group">
  <%= f.label :state, class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.input :state, label: false, placeholder: "Enter state", input_html: { class: "form-control" } %>
    </div>
</div>

<div class="form-group">
  <%= f.label :zipcode, class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.input :zipcode, label: false, placeholder: "Enter zipcode", input_html: { class: "form-control" } %>
    </div>
</div>
</div>