<% if defined?(contractor) && current_user && current_user.admin? %>
<div id="<%= dom_id contractor %>" class="card mb-3">
  <div class="card-body">
    <div class="container">
      <% attributes = [
        { label: "Role:", value: contractor.role.humanize },
        { label: "Subscription Level:", value: contractor.subscription_level.humanize },
        { label: "Photo:", value: contractor.profile&.image_data },
        { label: "Name:", value: contractor.profile&.name },
        { label: "Description:", value: contractor.profile&.description },
        { label: "Email:", value: contractor.email },
        { label: "Availability:", value: contractor.profile&.availability },
        { label: "Phone #:", value: contractor.profile&.phone_number },
        { label: "City:", value: contractor.profile&.primary_address_city },
        { label: "State:", value: contractor.profile&.primary_address_state },
        { label: "Zipcode:", value: contractor.profile&.primary_address_zipcode },
        { label: "License #:", value: contractor.profile&.license_number },
        { label: "Insurance Provider:", value: contractor.profile&.insurance_provider },
        { label: "Insurance Policy #:", value: contractor.profile&.insurance_policy_number },
        { label: "License:", value: contractor.profile&.have_license },
        { label: "Insurance:", value: contractor.profile&.have_insurance },
        { label: "Service Area:", value: contractor.profile&.service_area },
        { label: "Experience (yrs):", value: contractor.profile&.years_of_experience },
        { label: "Specializations:", value: contractor.profile&.specializations&.join(', ') },
        { label: "Certifications:", value: contractor.profile&.certifications&.join(', ') },
        { label: "Languages Spoken:", value: contractor.profile&.languages_spoken&.join(', ') },
        { label: "Hourly Rate:", value: contractor.profile&.hourly_rate },
        { label: "Active:", value: contractor.active },
        { label: "Public:", value: contractor.public }
       ] %>

      <div class="row">
        <div class="col-md-4">
          <% if contractor.profile&.image_data.present? %>
            <%= image_tag contractor.profile&.image_data.url, class: "img-fluid rounded-circle mb-3" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <% attributes.each do |attr| %>
            <% if attr[:value].present? %>
              <div class="row mb-2">
                <div class="col-md-4 text-end"><strong><%= attr[:label] %></strong></div>
                <div class="col-md-8"><%= attr[:value] %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="d-flex justify-content-end">
            <% if current_user && current_user.admin? %>
              <%= link_to "Edit", edit_contractor_path(contractor), method: :post, class: "btn btn-secondary me-2" %>
              <%= button_to "Destroy", contractor_path(contractor), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", data: { action: "click->contractors#destroy" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>