<%= form_with(model: @contractor, html: { class: "form-horizontal" }) do |c| %>
  <!-- Contractor fields -->
  <!-- Contractor form fields go here -->
  <%= debug @contractor.errors %>
  <%= debug @contractor.profile.errors %>
  <!-- Check for Contractor errors -->
  <% if @contractor.errors.any? %>
    <% @contractor.errors.full_messages.each do |message| %>
      <p class="error">
        <%= message %>
      </p>
    <% end %>
  <% end %>

  <div class="container-fluid">
    <!-- Contractor fields -->
    <!-- Contractor form fields go here -->

    <div class="row align-items-center">
      <div class="col">
        <div class="d-inline-flex align-items-center">
          <h1 class="mr-10">Contractor Profile</h1>
          <% if current_user.admin? %>
            <div class="custom-control custom-switch">
              <%= c.check_box :active, class: "custom-control-input", id: "activeSwitch" %>
              <%= c.label :active, class: "custom-control-label", for: "activeSwitch" %>
            </div>
            <div class="custom-control custom-switch">
              <%= c.check_box :public, class: "custom-control-input", id: "publicSwitch" %>
              <%= c.label :public, class: "custom-control-label", for: "publicSwitch" %>
            </div>
            <!-- Role -->
            <div class="form-group custom-control custom-switch">
              <%= c.label :role, class: "form-label" %>
              <%= c.select :role, Contractor.roles.keys.map { |role| [role.humanize, role] }, {}, class: 'form-select' %>
            </div>

            <!-- Tier -->
            <div class="form-group custom-control custom-switch">
              <%= c.label "Tier", class: "form-label" %>
              <%= c.select :subscription_level, Contractor.subscription_levels.keys.map { |level| [level.humanize, level] }, {}, class: 'form-select' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Add more fields in the first column as needed -->
    <div class="form-group">
      <%= c.label :email, class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= c.text_field :email, placeholder: "Enter email", class: "form-control" %>
      </div>
    </div>

    <%= c.fields_for :profile do |p| %>
      <!-- Check for Profile errors -->
      <% if @contractor.profile.errors.any? %>
        <% @contractor.profile.errors.full_messages.each do |message| %>
          <p class="error">
            <%= message %>
          </p>
        <% end %>
      <% end %>

      <!-- Profile fields -->
      <%= p.hidden_field :user_id, value: @contractor.id %>
      <div class="row">
        <!-- Add more fields in the first column as needed -->
        <div class="col-md-6">
          <div class="form-group">
            <%= p.label 'Photo', class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <% if @contractor.profile.image_data.present? %>
                <%= image_tag @contractor.profile.image_data.url, class: "img-fluid" %>
              <% end %>
              <%= p.file_field :image_data %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :name, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :name, placeholder: "Enter name", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :years_of_experience, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :years_of_experience, placeholder: "Enter years of experience", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :certifications, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :certifications_array, placeholder: "Enter certifications (comma separated)", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :hourly_rate, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :hourly_rate, placeholder: "Enter hourly rate", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :specializations, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :specializations_array, placeholder: "Enter specializations (comma separated)", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :languages_spoken, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :languages_array, placeholder: "Enter languages spoken (comma separated)", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :have_license, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.check_box :have_license, class: "form-control", id: "have_license_checkbox" %>
            </div>
          </div>

          <div id="license_fields" style="display:none;">
            <div class="form-group">
              <%= p.label :license_number, class: "control-label col-sm-4" %>
              <div class="col-sm-8">
                <%= p.text_field :license_number, placeholder: "Enter license number", class: "form-control" %>
              </div>
            </div>
          </div>
          <!-- Add more Profile fields here -->
        </div>


        <div class="col-md-6">
          <!-- Add more fields in the second column as needed -->
          <div class="form-group">
            <%= p.label :phone_number, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :phone_number, placeholder: "Enter phone number", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= p.label :website, class: "control-label col-sm-4" %>
            <div class="col-sm-8">
              <%= p.text_field :website, placeholder: "Enter website", class: "form-control" %>
            </div>
           </div>
         </div>

          <div class="form-group">
            <%= p.label :service_area, class: "control-label col-sm-4" %>
              <div class="col-sm-8">
                <%= p.text_field :service_area, placeholder: "Enter service area", class: "form-control" %>
              </div>
            </div>


            <%= p.fields_for :addresses, @profile.addresses.first_or_initialize do |a| %>
              <div class="form-group">
                <%= a.label :city, class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                  <%= a.text_field :city, placeholder: "Enter city", class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= a.label :state, class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                  <%= a.text_field :state, placeholder: "Enter state", class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= a.label :zipcode, class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                  <%= a.text_field :zipcode, placeholder: "Enter zipcode", class: "form-control" %>
                </div>
              </div>
            <% end %>

            <div class="form-group">
              <%= p.label :have_insurance, class: "control-label col-sm-4" %>
              <div class="col-sm-8">
                <%= p.check_box :have_insurance, class: "form-control", id: "have_insurance_checkbox" %>
              </div>
            </div>

            <div id="insurance_fields" style="display:none;">
              <div class="form-group">
                <%= p.label :insurance_provider, class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                  <%= p.text_field :insurance_provider, placeholder: "Enter insurance provider", class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= p.label :insurance_policy_number, class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                  <%= p.text_field :insurance_policy_number, placeholder: "Enter insurance policy number", class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-10 offset-sm-2 text-end">
          <%= link_to 'Cancel', root_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-10 offset-sm-2 text-end">
          <%= c.submit "Submit Profile", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    </div><!-- Contractor Fluid -->
<% end %><!-- form -->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const haveInsuranceCheckbox = document.getElementById('have_insurance_checkbox');
        const haveLicenseCheckbox = document.getElementById('have_license_checkbox');
        const licenseFields = document.getElementById('license_fields');
        const insuranceFields = document.getElementById('insurance_fields');

        haveInsuranceCheckbox.addEventListener('change', function() {
            if (haveInsuranceCheckbox.checked) {
                insuranceFields.style.display = 'block';
            } else {
                insuranceFields.style.display = 'none';
            }
        });

        // Optionally, you can add similar logic for the license fields based on other criteria

        haveLicenseCheckbox.addEventListener('change', function() {
            if (haveLicenseCheckbox.checked) {
                licenseFields.style.display = 'block';
            } else {
                licenseFields.style.display = 'none';
            }
        });



    });

    // document.addEventListener('DOMContentLoaded', function() {
    //     const addAddressBtn = document.getElementById('add-address-btn');
    //     const newAddressFields = document.getElementById('new-address-fields');
    //
    //     // Check if the newAddressFields element exists before accessing its innerHTML property
    //     if (newAddressFields) {
    //         if (addAddressBtn) {
    //             addAddressBtn.addEventListener('click', function() {
    //                 const addressFields = document.querySelector('.address-fields').innerHTML;
    //                 const newAddressFieldsHTML = `<div class="address-fields">${addressFields.replace(/addresses_attributes\]\[\d+\]/g, `addresses_attributes][${addressIndex}]`)}</div>`;
    //                 newAddressFields.insertAdjacentHTML('beforeend', newAddressFieldsHTML);
    //                 addressIndex++;
    //             });
    //         } else {
    //             console.error('Element with ID "add-address-btn" not found.');
    //         }
    //     } else {
    //         console.error('Element with ID "new-address-fields" not found.');
    //     }
    // });

</script>