<%= form_with(model: review, local: true, class: "needs-validation", data: {controller: 'autocompletion'}) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3 max-w-xs mx-auto bg-white">
    <div data-controller="autocomplete" data-autocomplete-url-value="/contractors//autocomplete" class="position-relative">
      <input type="text" class="w-full form-control" data-autocomplete-target="input" placeholder="Type to search..."/>
      <ul data-autocomplete-target="results" class="list-group position-absolute w-100 start-0"></ul>
    </div>
    <input type="hidden" name="contractor_id" data-autocomplete-target="hidden" value="">
  </div>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :rating, class: "form-label" %>
    <%= form.number_field :rating, min: 1, max: 5, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Review", class: "form-label" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const autocompleteInput = document.querySelector('[data-autocomplete-target="input"]');
        const selectInput = document.querySelector('select[name="review[contractor_id]"]'); // Selecting by name
        const hiddenField = document.querySelector('[data-autocomplete-target="hidden"]');

        autocompleteInput.addEventListener('change', function() {
            const selectedContractorId = selectInput.value; // Getting the selected value from the <select> element

            if (hiddenField) {
                hiddenField.value = selectedContractorId;
            }
        });
    });
</script>
