<%= form_with(model: review, local: true, class: "needs-validation", data: {controller: 'autocompletion'}) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :contractor_name %>
    <%= form.text_field :contractor_name, id: "contractor_name_field", placeholder: "Start typing contractor's name",  class: "form-control", data: { action: 'input->autocompletion#search' } %>
    <datalist id='contractors'>
      <% @contractors&.each do |contractor|%>
        <option value=<%=contractor.email%>></option>
      <%end%>
    </datalist>
    <%= form.hidden_field :contractor_id, id: "contractor_id_field" %>
  </div>

  <div class="mb-3">
    <%= form.label :rating, class: "form-label" %>
    <%= form.number_field :rating, min: 1, max: 5, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
