<div class="container">
  <h1>Reviews</h1>

  <% if @reviews.any? %>
    <% @reviews.each do |review| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Rating: <%= review.rating %></h5>
          <p class="card-text">Review: <%= review.content %></p>
          <p class="card-text">Review of: <%= review.contractor.name %> | <%= review.contractor.email %></p>
          <p class="card-text">Submitted by: <%= review.homeowner.name %></p>
          <div class="d-flex justify-content-end">
            <%= link_to "Show", review_path(review), class: "btn btn-primary mr-2" %>
            <%= link_to "Edit", edit_review_path(review), class: "btn btn-secondary mr-2" %>
            <%= button_to "Destroy", review_path(review), method: :delete, data: { confirm: "Are you sure you want to delete this review?" }, class: "btn btn-danger mr-2", data: { action: "click->reviews#destroy" } %>
          </div>
        </div>
      </div>
    <% end %>

    <%= will_paginate @reviews %>
  <% else %>
    <div class="alert alert-info" role="alert">
      There are no reviews available.
    </div>
  <% end %>

  <%= link_to 'Add New Review', new_review_path, class: "btn btn-success mt-3" %>
</div>