<!DOCTYPE html>
<html>
  <head>
    <title>Rentabud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Minified version -->
<!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript (optional, only if you need Bootstrap features that require JS) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        html, body {
            height: 100%;
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .content {
            min-height: calc(100% - 50px); /* Adjust the height of the footer (50px in this case) */
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #f5f5f5;
            padding: 20px 0;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }

        /* Sticky footer */
        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1; /* Take remaining vertical space */
        }
    </style>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: "nav-link", data: { turbo: "false" } %>
          </li>



          <% if signed_in? %>
            <% if current_user.homeowner? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Home Owner
                </a>
                <ul class="dropdown-menu">

                    <li><%= link_to "Service Request", new_service_request_path, class: "dropdown-item" %></li>

                    <li><%= link_to "All Requests", service_requests_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Profile", edit_homeowner_path(current_user), class: "dropdown-item" %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "Reviews", "reviews_path", class: "dropdown-item" %></li>

                </ul>
              </li>
            <% end %>

            <% if current_user.contractor? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contractor
                </a>
                <ul class="dropdown-menu">

                  <li><%= link_to "Service Requests", service_requests_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Profile", edit_contractor_path(current_user), class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to "Reviews", "reviews_path", class: "dropdown-item" %></li>

                </ul>
              </li>
            <% end %>

            <li class="nav-item">
              <a class="nav-link" href="#">Jobs</a>
            </li>


            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="<%= signed_in?%>">
                Logged in as <%= current_user.email %>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">
                Role: <%= current_user&.role %>
              </a>
            </li>

            <li class="nav-item" style="margin-left: auto;">
              <a href="<%= destroy_user_session_path %>" class="nav-link" data-turbo-method="delete">
                Log out
              </a>
            </li>

            <% if current_user.admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu">
                  <%= link_to 'Manage Type of Work', type_of_works_path, class: "dropdown-item" %>
                  <%= link_to 'Manage Contractors', contractors_path, class: "dropdown-item", data: { turbo: "false" } %>
                  <%= link_to 'Manage Homeowners', homeowners_path, class: "dropdown-item", data: { turbo: "false" } %>
                </ul>
              </li>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', user_session_path, class: "nav-link", data: { turbo: "false" } %>
            </li>
          <% end %>

        </ul>
        <form class="d-flex" role="search" action="<%= search_contractors_path %>" method="get">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-8 text-left">
          <%= render 'shared/notices' %>
          <% if false %>
            <%= debug(params) if Rails.env.development? %>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container-fluid text-center">
        <p>Footer Text</p>
      </div>
    </footer>

  </body>
</html>
