<!DOCTYPE html>
<html>
  <head>
<!--    <title>Rentabud</title>-->
<!--    <meta name="viewport" content="width=device-width,initial-scale=1">-->
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
<!--     Minified version -->
<!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
<!--    Bootstrap CSS -->
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->

<!--    Bootstrap JavaScript (optional, only if you need Bootstrap features that require JS) -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->-->
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentabud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your application stylesheets and JavaScript files -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .navbar-nav .nav-link {
            font-size: 18px;
        }

        .content {
            min-height: calc(100% - 50px);
        }

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #f5f5f5;
            padding: 20px 0;
        }

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            padding-top: 56px; /* Adjust according to your navbar height */
        }

        .message-badge {
            position: relative;
            display: inline-block;
        }

        .badge-number {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: red;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }

        .notice-container {
            text-align: center;
            font-size: 20px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .carousel-item img {
            transform: rotate(270deg);
        }

        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        .content {
            padding: 56px;
        }

        .footer {
            background-color: #f1f1f1;
            padding: 20px 0;
        }

        .main-content {
            padding-top: 20px; /* Adjust according to your navbar height */
        }

        /* Ensure equal height for side navs */
        .sidenav {
            display: flex;
            flex-direction: column;
        }

        .sidenav > .row {
            flex-grow: 1;
        }

        .powered-by {
            font-size: 0.8em;
        }
        .image-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
        }

        .image-item {
            overflow: hidden;
            border-radius: 5px;
        }

        .gallery-image {
            width: 100%;
            height: auto;
        }
        .field_with_errors input,
        .field_with_errors select,
        .field_with_errors textarea {
            border: 1px solid red;
            /* Add any other styles to highlight the error */
        }

        .field_with_errors label {
            color: red;
            /* Add any other styles to highlight the label */
        }
    </style>
  </head>
  <body>

  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <%= link_to(root_path) do %>
        <%= image_tag("rentabud_navbar.png", class: "d-block", alt: "Logo", style: "width: 225px; height: 100px; margin: 0; padding: 0;") %>
      <% end %>

      <!-- Navbar toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Offcanvas -->
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <!-- Navbar links -->
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to("Dashboard", dashboard_path, class: "nav-link") %>
            </li>
            <!-- User-specific links -->
            <% if signed_in? %>
              <!-- Homeowner actions -->
              <% if current_user.property_owner? || current_user.service_provider? %>
                <!-- Inbox dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Inbox
                    <% unread_count = Conversation.unread_messages_count(current_user.id) %>
                    <% unless unread_count.zero? %>
                      <span class="badge bg-primary rounded-pill"><%= unread_count %></span>
                    <% end %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "View Inbox", conversations_path, class: "dropdown-item" %></li>
                  </ul>
                </li>
              <% end %>

              <% if current_user.property_owner? %>
                <li class="nav-item dropdown">
                  <!-- Homeowner dropdown -->
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Property Owner
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.premium? %>
                      <li><%= link_to "Post Service Request", new_service_request_path, class: "dropdown-item" %></li>
                    <% end %>
                    <li><%= link_to "Write a Review", reviews_path, class: "dropdown-item" %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "Manage Service Requests", service_requests_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Profile", edit_homeowner_path(current_user), class: "dropdown-item" %></li>
                  </ul>
                </li>
              <% end %>

              <!-- Contractor actions -->
              <% if current_user.service_provider? %>
                <li class="nav-item dropdown">
                  <!-- Contractor dropdown -->
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Service Provider
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Service Requests", service_requests_path, class: "dropdown-item" %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "Profile", edit_contractor_path(current_user), class: "dropdown-item" %></li>
                  </ul>
                </li>
              <% end %>

              <!-- Ad manager actions -->
              <% if current_user.ad_manager? %>
                <li class="nav-item dropdown">
                  <!-- Ad manager dropdown -->
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ad Manager
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Manage Ads', advertisements_path, class: "dropdown-item", data: { turbo: "false" } %></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to 'Edit Profile', ad_managers_path, class: "dropdown-item" %></li>
                  </ul>
                </li>
              <% end %>

              <!-- Admin actions -->
              <% if current_user.admin? %>
                <li class="nav-item dropdown">
                  <!-- Admin dropdown -->
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                  </a>
                  <ul class="dropdown-menu">
                    <%= link_to 'Manage Services', services_path, class: "dropdown-item" %>
                    <%= link_to 'Manage Contractors', contractors_path, class: "dropdown-item", data: { turbo: "false" } %>
                    <%= link_to 'Manage Homeowners', homeowners_path, class: "dropdown-item", data: { turbo: "false" } %>
                    <%= link_to 'Manage Ads', advertisements_path, class: "dropdown-item", data: { turbo: "false" } %>
                    <%= link_to 'Manage Reviews', reviews_path, class: "dropdown-item", data: { turbo: "false" } %>
                    <li><hr class="dropdown-divider"></li>
                    <%= link_to 'Edit Profile', admins_path, class: "dropdown-item" %>
                  </ul>
                </li>
              <% end %>

              <!-- Role -->
              <!-- Role and Logout -->
              <ul class="navbar-nav mb-2 mb-lg-0">
                <!-- Log out -->
                <li class="nav-item" style="margin-right: auto;">
                  <a href="<%= destroy_user_session_path %>" class="nav-link" data-turbo-method="delete">
                    Log out
                  </a>
                </li>
                <!-- Role -->
                <li class="nav-item">
                  Role: <%= current_user&.role %>
                </li>

                <li class="nav-item">
                  User: <%= current_user&.email %>
                </li>
              </ul>
            <% else %>
              <!-- Log in -->
              <li class="nav-item">
                <%= link_to 'Log in', user_session_path, class: "nav-link", data: { turbo: "false" } %>
              </li>
            <% end %>
          </ul>

          <!-- Search form -->
          <!-- Add an ID to the search form for easier selection -->
          <form class="d-flex ms-auto" action="<%= search_contractors_path %>" method="get" id="searchForm">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" id="searchInput">
            <button class="btn btn-outline-primary" type="button" id="searchButton">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid main-content">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <div class="row">
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
        </div>
      </div>
      <div class="col-sm-8 text-left">
        <div class="notice-container">
          <%= render 'shared/notices' %>
        </div>
        <% if false %>
          <%= debug(params) if Rails.env.development? %>
        <% end %>
        <%= yield %>
      </div>

      <div class="col-sm-2 sidenav">
        <div class="row">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if @ads.present? %>
                <% @ads.each_with_index do |ad, index| %>
                  <div class="carousel-item <%= 'active' if index.zero? %>">
                    <%= link_to ad.url do %>
                      <%= image_tag ad.image_data.url, class: "d-block w-100", alt: ad.title if ad.image_data.present? %>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="carousel-item active">
                  <%= image_tag "rentabud_navbar.png", class: "d-block w-100", alt: "Placeholder Image" %>
                  <!-- Or any placeholder message -->
                  <div class="carousel-caption">
                    <h5>No ads available</h5>
                    <p>Check back later for more content</p>
                  </div>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <span class="text-muted powered-by">Six Hat Technologies LLC @ 2024</span>
    </div>
  </footer>

  </body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the select element
        const selectElement = document.getElementById("messageSelect");

        // Add event listener for change event
        selectElement.addEventListener("change", function(event) {
            // Get the selected message ID, type, and reply endpoint
            const messageId = event.target.value;
            const userType = event.target.selectedOptions[0].getAttribute("data-type");
            const replyEndpoint = event.target.selectedOptions[0].getAttribute("data-reply-endpoint");

            // Make an Ajax request to the backend using Turbo Streams
            fetch(replyEndpoint, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": document.querySelector("meta[name=csrf-token]").content // Include CSRF token
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json(); // Assuming the backend returns JSON
                })
                .then(data => {
                    // Handle successful response from the backend
                    console.log(data);
                })
                .catch(error => {
                    // Handle errors
                    console.error("There was a problem with the request:", error);
                });
        });
    });
    $(document).on("turbo:load", function() {
        $(".message-link").on("click", function(e) {
            e.preventDefault(); // Prevent default link behavior

            // Find the current_user_id from the data attribute of the form
            var currentUserId = $(this).closest("form").data("current-user-id");
            console.log("currentUserId >>>>>>> " + currentUserId);

            // Find all hidden input fields with the name 'message[id]' inside the clicked form
            var messageIds = [];
            $(this).closest("form").find("input[name='message\[id\]']").each(function() {
                messageIds.push($(this).val()); // Collect the values into an array
            });

            // Assuming you want to use only the first message ID, you can access it like this:
            var messageId = messageIds[0];

            // Construct the URL
            var url = "/contractors/" + currentUserId + "/messages/" + messageId + "/reply"; // Assuming this URL shows the message content

            // Use Turbo Streams to visit the URL
            Turbo.visit(url, { action: "append" });
        });
    });

    document.addEventListener("turbo:load", function() {
        // Add event listener to the search button
        document.getElementById("searchButton").addEventListener("click", function() {
            // Get the search input value
            var searchValue = document.getElementById("searchInput").value;

            // Construct the search URL with the query parameter
            var searchURL = "<%= search_contractors_path %>?query=" + encodeURIComponent(searchValue);

            // Use Turbo to visit the search URL
            Turbo.visit(searchURL);
        });
    });

    // $(document).on("turbo:load", function() {
    //     $(".message-link").on("click", function(e) {
    //         e.preventDefault(); // Prevent default link behavior
    //
    //         // Find the current_user_id from the data attribute of the form
    //         var currentUserId = $(this).closest("form").data("current-user-id");
    //         console.log("currentUserId >>>>>>> " + currentUserId);
    //
    //         // Find all hidden input fields with the name 'message[id]' inside the clicked form
    //         var messageIds = [];
    //         $(this).closest("form").find("input[name='message\[id\]']").each(function() {
    //             messageIds.push($(this).val()); // Collect the values into an array
    //         });
    //
    //         // Assuming you want to use only the first message ID, you can access it like this:
    //         var messageId = messageIds[0];
    //
    //         // Construct the URL
    //         var url = "/contractors/" + currentUserId + "/messages/" + messageId + "/reply"; // Assuming this URL shows the message content
    //
    //         // Send a POST request to the URL
    //         $.ajax({
    //             type: "POST",
    //             url: url,
    //             dataType: "json",
    //             success: function(response) {
    //                 // Handle the success response
    //                 console.log("POST request successful:", response);
    //                 // You can update the UI or perform any other action here
    //             },
    //             error: function(xhr, status, error) {
    //                 // Handle the error response
    //                 console.error("Error making POST request:", error);
    //                 // You can display an error message or perform any other action here
    //             }
    //         });
    //     });
    // });
</script>
