<!DOCTYPE html>
<html>
  <head>
    <title>Rentabud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Minified version -->
<!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript (optional, only if you need Bootstrap features that require JS) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        html, body {
            height: 100%;
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .content {
            min-height: calc(100% - 50px); /* Adjust the height of the footer (50px in this case) */
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #f5f5f5;
            padding: 20px 0;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }

        /* Sticky footer */
        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1; /* Take remaining vertical space */
        }
        .message-badge {
            position: relative;
            display: inline-block;
        }

        .badge-number {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: red;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
    </style>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Rent-A-bud
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to 'Home', root_path, class: "nav-brand", data: { turbo: "false" } %>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <% if signed_in? %>
            <!-- Add your header content here -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                <%
                  unread_count = Conversation.unread_messages_count(current_user.id)
                  unless unread_count.zero? %>
                  <span class="badge bg-primary rounded-pill"><%= unread_count %></span>
                <% end %>
                Inbox
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "View Inbox", conversations_path, class: "dropdown-item" %></li>
              </ul>
            </li>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-link" > Role: <%= current_user&.role %></li>
            </ul>

            <% if current_user.property_owner? %>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-link"><%= link_to "Create Service Request", new_service_request_path %></li>
              </ul>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Home Owner
                </a>
                <ul class="dropdown-menu">
                    <li><hr class="dropdown-divider"></li>
                    <li><%= link_to "Service Requests", service_requests_path, class: "dropdown-item" %></li>
                    <li><%= link_to "Reviews", "reviews_path", class: "dropdown-item" %></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.email %>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item" ></li>
                    <li><%= link_to "Profile", edit_homeowner_path(current_user), class: "dropdown-item" %></li>
                  </ul>
                </div>
              </li>
            <% end %>


            <% if current_user.service_provider? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contractor
                </a>
                <ul class="dropdown-menu">
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to "Service Requests", service_requests_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Reviews", "reviews_path", class: "dropdown-item" %></li>
                </ul>
              </li>
              <li class="nav-item dropdown">

                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.email %>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", edit_contractor_path(current_user), class: "dropdown-item" %></li>
                  </ul>
                </div>
              </li>
            <% end %>


            <li class="nav-item" style="margin-left: auto;">
              <a href="<%= destroy_user_session_path %>" class="nav-link" data-turbo-method="delete">
                Log out
              </a>
            </li>

            <% if current_user.admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu">
                  <%= link_to 'Manage Services', services_path, class: "dropdown-item" %>
                  <%= link_to 'Manage Contractors', contractors_path, class: "dropdown-item", data: { turbo: "false" } %>
                  <%= link_to 'Manage Homeowners', homeowners_path, class: "dropdown-item", data: { turbo: "false" } %>
                </ul>
              </li>
            <% end %>

          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', user_session_path, class: "nav-link", data: { turbo: "false" } %>
            </li>
          <% end %>

        </ul>
        <!-- Search form to the right -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-8 text-left">
          <%= render 'shared/notices' %>
          <% if false %>
            <%= debug(params) if Rails.env.development? %>
          <% end %>
          <%= yield %>
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <%= turbo_stream_from "messages" %>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container-fluid text-center">
        <p>Footer Text</p>
      </div>
    </footer>

  </body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get the select element
        const selectElement = document.getElementById("messageSelect");

        // Add event listener for change event
        selectElement.addEventListener("change", function(event) {
            // Get the selected message ID, type, and reply endpoint
            const messageId = event.target.value;
            const userType = event.target.selectedOptions[0].getAttribute("data-type");
            const replyEndpoint = event.target.selectedOptions[0].getAttribute("data-reply-endpoint");

            // Make an Ajax request to the backend using Turbo Streams
            fetch(replyEndpoint, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": document.querySelector("meta[name=csrf-token]").content // Include CSRF token
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.json(); // Assuming the backend returns JSON
                })
                .then(data => {
                    // Handle successful response from the backend
                    console.log(data);
                })
                .catch(error => {
                    // Handle errors
                    console.error("There was a problem with the request:", error);
                });
        });
    });
    $(document).on("turbo:load", function() {
        $(".message-link").on("click", function(e) {
            e.preventDefault(); // Prevent default link behavior

            // Find the current_user_id from the data attribute of the form
            var currentUserId = $(this).closest("form").data("current-user-id");
            console.log("currentUserId >>>>>>> " + currentUserId);

            // Find all hidden input fields with the name 'message[id]' inside the clicked form
            var messageIds = [];
            $(this).closest("form").find("input[name='message\[id\]']").each(function() {
                messageIds.push($(this).val()); // Collect the values into an array
            });

            // Assuming you want to use only the first message ID, you can access it like this:
            var messageId = messageIds[0];

            // Construct the URL
            var url = "/contractors/" + currentUserId + "/messages/" + messageId + "/reply"; // Assuming this URL shows the message content

            // Use Turbo Streams to visit the URL
            Turbo.visit(url, { action: "append" });
        });
    });

    // $(document).on("turbo:load", function() {
    //     $(".message-link").on("click", function(e) {
    //         e.preventDefault(); // Prevent default link behavior
    //
    //         // Find the current_user_id from the data attribute of the form
    //         var currentUserId = $(this).closest("form").data("current-user-id");
    //         console.log("currentUserId >>>>>>> " + currentUserId);
    //
    //         // Find all hidden input fields with the name 'message[id]' inside the clicked form
    //         var messageIds = [];
    //         $(this).closest("form").find("input[name='message\[id\]']").each(function() {
    //             messageIds.push($(this).val()); // Collect the values into an array
    //         });
    //
    //         // Assuming you want to use only the first message ID, you can access it like this:
    //         var messageId = messageIds[0];
    //
    //         // Construct the URL
    //         var url = "/contractors/" + currentUserId + "/messages/" + messageId + "/reply"; // Assuming this URL shows the message content
    //
    //         // Send a POST request to the URL
    //         $.ajax({
    //             type: "POST",
    //             url: url,
    //             dataType: "json",
    //             success: function(response) {
    //                 // Handle the success response
    //                 console.log("POST request successful:", response);
    //                 // You can update the UI or perform any other action here
    //             },
    //             error: function(xhr, status, error) {
    //                 // Handle the error response
    //                 console.error("Error making POST request:", error);
    //                 // You can display an error message or perform any other action here
    //             }
    //         });
    //     });
    // });
</script>
